@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"), local("Roboto-regular"), url("./fonts/Roboto-Regular.woff2") format("woff2"), url("./fonts/Roboto-Regular.woff") format("woff"), url("./fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Bold"), local("Roboto-700"), url("./fonts/Roboto-Bold.woff2") format("woff2"), url("./fonts/Roboto-Bold.woff") format("woff"), url("./fonts/Roboto-Bold.ttf") format("truetype"); }

button, select, html, textarea, input {
  font-family: "Roboto", "Helvetica Neue", sans-serif !important; }

/*body{
    height: auto;
    min-height: 100%;
}*/
.full-height, .scroll, .my-map {
  height: 100%; }

.leaflet-bottom {
  bottom: 10px; }

.legend {
  padding: 6px 8px;
  font: 12px/14px Arial, Helvetica, sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.3);
  line-height: 14px;
  border-radius: 2px;
  color: #555;
  text-shadow: white 0 -2px; }

.legend i {
  color: #777;
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 8px;
  opacity: 0.9; }

/*
 * These CSS rules affect the tooltips within maps with the custom-popup
 * class. See the full CSS for all customizable options:
 * https://github.com/mapbox/mapbox.js/blob/001754177f3985c0e6b4a26e3c869b0c66162c99/theme/style.css#L321-L366
 #2c3e50;
   font-size:16px;
     color:#fff;
       line-height:24px;
*/
.custom-popup .leaflet-popup-content-wrapper {
  border-radius: 4px; }

.custom-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 10px; }

.back-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #555; }

.wo-header-height {
  height: calc(100% - 64px); }

.contact-item md-icon {
  margin-right: 12px !important;
  width: 40px !important;
  height: 40px !important; }
